body {
  background-color: #f2f3f5;
  padding: 15px;
}
.layui-input {
  width: 400px;
}
.layui-form-label {
  float: left;
  display: block;
  padding: 9px 15px;
  width: 86px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
}
.layui-form-label {
  vertical-align: middle;
}
.layui-form-label #xx {
  line-height: 11px;
}
.layui-input-block {
  position: relative;
}
.layui-input-block i {
  position: absolute;
  left: 380px;
  top: 8px;
}
